@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,500;1,700;1,800&display=swap');

body {
  background-color: black;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Bruno Ace', cursive;
  font-family: 'Poppins', sans-serif;
  color: var(--textColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #16c6cc;
  --secondaryColor: #11999e;
  --textColor: #293533;
  --bgColor: #fff;
  --lightTextColor: #576d69;
  --lighTextColorSecond: #40514e;
  --initialFont: 0.9rem;
}